In [18]:
import pandas as pd
import chardet

with open(r"E:\sara\DEPI\student_Dataset.csv", "rb") as f:
    result = chardet.detect(f.read())

result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [19]:
df_data = pd.read_csv(
    r"E:\sara\DEPI\student_Dataset.csv",
    encoding="ISO-8859-1"
)

In [20]:
df_data.head()

,fNAME,lNAME,Age,gender,country,residence,entryEXAM,prevEducation,studyHOURS,Python,DB
0,Christina,Binger,44,Female,Norway,Private,72,Masters,158,59.0,55
1,Alex,Walekhwa,60,M,Kenya,Private,79,Diploma,150,60.0,75
2,Philip,Leo,25,Male,Uganda,Sognsvann,55,HighSchool,130,74.0,50
3,Shoni,Hlongwane,22,F,Rsa,Sognsvann,40,High School,120,NaN,44
4,Maria,Kedibone,23,Female,South Africa,Sognsvann,65,High School,122,91.0,80

In [21]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fNAME          77 non-null     object
 1   lNAME          77 non-null     object
 2   Age            77 non-null     int64
 3   gender         77 non-null     object
 4   country        77 non-null     object
 5   residence      77 non-null     object
 6   entryEXAM      77 non-null     int64
 7   prevEducation  77 non-null     object
 8   studyHOURS     77 non-null     int64
 9   Python         75 non-null     float64
 10  DB             77 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 6.7+ KB

In [22]:
df_data["Age"].describe()

count    77.000000
mean     35.207792
std      10.341966
min      21.000000
25%      27.000000
50%      33.000000
75%      42.000000
max      71.000000
Name: Age, dtype: float64

In [70]:
df_data["residence"].value_counts()

residence
Private         33
BI Residence    29
Sognsvann       12
BI-Residence     1
BIResidence      1
BI_Residence     1
Name: count, dtype: int64

In [71]:
def clean_residence(res):
    if pd.isna(res):
        return res
    
    res = res.strip().lower()
    
    mapping = {
        'bi residence': 'BI Residence',
        'bi-residence': 'BI Residence',
        'biresidence': 'BI Residence',
        'bi_residence': 'BI Residence',
        'sognsvann': 'Sognsvann',
        'private': 'Private'
    }
    
    return mapping.get(res, res.title())

In [72]:
df_data['residence'] = df_data['residence'].apply(clean_residence)

In [74]:
df_data["residence"].value_counts()

residence
Private         33
BI Residence    32
Sognsvann       12
Name: count, dtype: int64

In [23]:
df_data["country"].value_counts()

country
Norway          47
Uganda           4
Kenya            3
Germany          3
Italy            2
Spain            2
Netherlands      2
Denmark          2
UK               2
Somali           2
Nigeria          2
France           2
norway           1
Norge            1
South Africa     1
Rsa              1
Name: count, dtype: int64

In [24]:
def clean_country(country):
    if pd.isna(country):
        return country
    
    country = country.strip().lower()
    
    mapping = {
        'norway': 'Norway',
        'norge': 'Norway',
        'rsa': 'South Africa'
    }
    
    return mapping.get(country, country.title())

In [25]:
df_data['country'] = df_data['country'].apply(clean_country)

In [26]:
df_data["country"].value_counts()

country
Norway          49
Uganda           4
Kenya            3
Germany          3
South Africa     2
Denmark          2
Netherlands      2
Spain            2
Italy            2
Uk               2
Somali           2
Nigeria          2
France           2
Name: count, dtype: int64

In [31]:
df_data["gender"].value_counts()

gender
Female    41
Male      32
M          1
F          1
female     1
male       1
Name: count, dtype: int64

In [ ]:
def clean_gender(gender):
    if pd.isna(gender):
        return gender
    
    gender = gender.strip().lower()
    
    mapping = {
        'f': 'Female',
        'm': 'Male',
        'female': 'Female',
        'male': 'Male'
    }
    
    return mapping.get(gender, gender.title())

In [42]:
df_data['gender'] = df_data['gender'].apply(clean_gender)

In [43]:
df_data["gender"].value_counts()

gender
Female    43
Male      34
Name: count, dtype: int64

In [51]:
df_data.value_counts(['prevEducation'])

prevEducation
Bachelors        24
High School      18
Masters          16
Diploma           9
Doctorate         5
Barrrchelors      1
Diplomaaa         1
DIPLOMA           1
HighSchool        1
diploma           1
Name: count, dtype: int64

In [60]:
def clean_education(edu):
    if pd.isna(edu):
        return edu
    
    edu = edu.strip().lower()
    
    mapping = {
        'highschool': 'High School',
        'high school': 'High School',
        'diploma': 'Diploma',
        'diplomaaa': 'Diploma',
        'diplomaa': 'Diploma',
        'bachelors': 'Bachelors',
        'barrrchelors': 'Bachelors',
        'masters': 'Masters',
        'doctorate': 'Doctorate'
    }
    
    return mapping.get(edu, edu.title())

In [62]:
df_data['prevEducation'] = df_data['prevEducation'].apply(clean_education)

In [63]:
df_data.value_counts(['prevEducation'])

prevEducation
Bachelors        25
High School      19
Masters          16
Diploma          12
Doctorate         5
Name: count, dtype: int64

In [64]:
df_data.isnull().sum()

fNAME            0
lNAME            0
Age              0
gender           0
country          0
residence        0
entryEXAM        0
prevEducation    0
studyHOURS       0
Python           2
DB               0
dtype: int64

In [65]:
df_data[df_data['prevEducation'] == 'High School'].value_counts(['prevEducation', 'Python'])

prevEducation  Python
High School    30.0      1
               33.0      1
               45.0      1
               48.0      1
               57.0      1
               61.0      1
               69.0      1
               70.0      1
               74.0      1
               78.0      1
               81.0      1
               84.0      1
               85.0      1
               87.0      1
               88.0      1
               90.0      1
               91.0      1
Name: count, dtype: int64

In [66]:
df_data.groupby('prevEducation')['Python'].mean()

prevEducation
Bachelors      80.000000
Diploma        70.083333
Doctorate      75.600000
High School    68.882353
Masters        81.187500
Name: Python, dtype: float64

In [67]:
hs_avg = df_data[df_data['prevEducation'] == 'High School']['Python'].mean()

In [68]:
df_data.loc[
    (df_data['prevEducation'] == 'High School') & (df_data['Python'].isna()),
    'Python'
] = hs_avg

In [69]:
df_data.isnull().sum()

fNAME            0
lNAME            0
Age              0
gender           0
country          0
residence        0
entryEXAM        0
prevEducation    0
studyHOURS       0
Python           0
DB               0
dtype: int64